doctype html
html
  head
    
    title= title
    link(rel='stylesheet', href='/bootstrap/css/sinan.bootstrap.css')
  body
    block content
    script(scr='/javascripts/jquery-3.3.1.min.js')
    script(scr='/bootstrap/js/bootstrap.min.js')
